.SearchBar {
    background-image: url('../pics/foodpic.jpg');
    background-size: cover;
    height: 500px;
    box-shadow: 10px 10px black;
}

.SearchBar input {
    height: 30px;
    width: 250px;
    font-size: 25px;
    background-color: rgba(240, 236, 232, 0.753);
    
}
.SearchBar button {
    background-color: rgba(255, 255, 255, 0);
    border: 0cm;
    font-size: 30px;
    margin-top: 30px;
    font-weight: normal;
    margin-bottom: 10px;
    transition: 0.5s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.SearchBar button:after {
    content: url('../pics/input-onlinepngtools.png');
    opacity: 0;
    transition: 0.5s;
}

.SearchBar button:hover:after {
    opacity: 1;
    right: 10px;
}